html {
  box-sizing: border-box;
}
*::after,
*::before,
* {
  box-sizing: inherit;
}
ul,
li {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #292929;
  overflow-x: hidden;
  min-width: 320px;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
